{% extends "layout.html" %}

{% block title %}
    Add capability
{% endblock %}

{% block main %}  
    <div class="row justify-content-center pt-4">
        <div class="col-3">
            <form action="/addcap" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="capability">Capability</label>
                    <input autocomplete="off" autofocus class="form-control" name="capability" id="capability" placeholder="Capability" type="text" aria-describedby="capabilityHelp">
                    <!--<small id="capabilityHelp" class="form-text text-muted">A name that describes the physical quantity you're going to measure.</small>-->
                </div> 
                <div class="form-group"> 
                    <label for="unit">Unit</label>
                    <input autocomplete="off" class="form-control" name="unit" placeholder="Unit" id="unit" type="text" aria-describedby="unitHelp">
                    <!--<small id="unitHelp" class="form-text text-muted">The symbol of the unit of measurement of your capability.(e.g.: m for meters.</small>-->                 
                </div>
		<div class="form-group">
		    <label for="icon">Icon</label>
		    <input type="file" class="form-control "name="icon" id="icon" aria-describedby="iconHelp">
                    <small id="iconHelp" class="form-text text-muted">The icon must be a 32px png file.</small>                 		    
		</div> 
                <div class="text-center">
                    <button class="btn btn-info" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
