{% extends "layout.html" %}

{% block title %}
	Probes
{% endblock %}

{% block main %}
  <table>
    <tr>
      {% for card in cards %}
        <td>  
          <div class="card" style="width: 18rem;">
            <img src="/static/images/arduino.jpg" class="card-img-top" alt="Arduino">
            <div class="card-body">
              <h5 class="card-title">{{ card[1] }}</h5>
              {% for data in card[2] %}
                <p class="card-text"><img src="{{ data[4] }}"> {{ data[1] }}{{ data[2] }} - {{ data[3] }}</p>
              {% endfor %}
              <div class="text-right">
                <a href="/graphs?probe={{ card[0] }}" class="btn btn-info">Graphs</a>
              </div>
            </div>
          </div>
        </td>
      {% endfor %}
    </tr>
  </table>
{% endblock %}
